<block-ui>
    <div class="row">

        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-border-primary">
                        <div class="card-header">
                            <div class="col-lg-3 float-right">
                                <input type="date" class="form-control" autocomplete="off" [(ngModel)]="filter_date" (change)="filterRentRoll()" required>
                            </div>
                            <div class="col-lg-5 float-right">
                                <ng-select (change)="filterRentRoll()"
                                    [clearable]="true" [clearOnBackspace]="false" [(ngModel)]="property_id" [items]="propertyList" class="col-lg-12 inline-row"
                                    [multiple]=false bindLabel="property_name" bindValue="id"
                                    placeholder="Select Property">
                                    <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                                        <div> {{item.property_name}} | {{item.location}} - ({{item.gross_floor_area_sm}} m<sup>2</sup>)</div>
                                    </ng-template>
                                </ng-select>
                            </div>
                        </div>
                        <div class="card-block ">
                            <div class="row ">
                                <div class="col-lg-12 table-responsive">
                                    <h4> <i class="fa fa-list"></i> {{ 'RENT_ROLL.TITLE' | translate }}</h4>
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th scope="col">Floor</th>
                                                <th scope="col">Room</th>
                                                <th scope="col">Use</th>
                                                <th scope="col">Tenant Name</th>
                                                <th scope="col">Contact Type</th>
                                                <th scope="col">Area (m<sup>2</sup>)</th>
                                                <th scope="col">Area (ツボ)</th>
                                                <th scope="col">Unit rent including<br> common expenses</th>
                                                <th scope="col">Rent including<br> common services (yen)</th>
                                                <th scope="col">Diposit Months</th>
                                                <th scope="col">Diposit</th>
                                                <th scope="col">Contract Start</th>
                                                <th scope="col">Contract End</th>
                                                <th scope="col">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let contract of contractList; let i=index">
                                                <td>{{ contract.floor_no }}</td>
                                                <td>{{ contract.room_number }}</td>
                                                <td>{{ contract.uses }}</td>
                                                <td>{{ contract.company_name }} <br/> ({{ contract.company_name_jp }})</td>
                                                <td>{{ contract.contract_type }}</td>
                                                <td>{{ contract.room_area_sm | number }}</td>
                                                <td>{{ contract.room_area_tsubo | number }}</td>
                                                <td>{{ contract.unit_common_fees_sm | number }}</td>
                                                <td>{{ contract.unit_common_fees_tsubo | number }}</td>
                                                <td>{{ contract.number_of_deposit_months }}</td>
                                                <td>{{ contract.deposit | number }}</td>
                                                <td>{{ contract.date_of_contract_start | date : 'longDate' }}</td>
                                                <td>{{ contract.date_of_contract_end | date : 'longDate' }}</td>
                                                <td>
                                                    <button class="btn btn-success btn-mini mr-2" (click)="getItemDetails(contract, template)"><i
                                                        class="icofont icofont-eye"></i>Details</button>
                                                </td>
                                            </tr>
                                            <tr *ngIf="contractList.length <= 0">
                                                <td colspan="14" *ngIf="!is_loaded">No data found. Please, select property & date to see the details. </td>
                                                <td colspan="14" *ngIf="is_loaded">No data found. </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                    
                            </div>
                        </div>
                        <div class="card-footer ">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <ng-template #template>
        <div class="modal-header ">
            <h4 class="modal-title pull-left " [innerHtml]="modalTitle" id="modalTitle"></h4>
            <button type="button " class="close pull-right " aria-label="Close " (click)="modalHide()">
                <i class="icofont icofont-close"></i>
            </button>
        </div>
        <div class="modal-body" *ngIf="is_details_loaded">
            <app-card>
                <div class="row ">
                  <div class="col-lg-4">
                    <strong>Property:</strong> {{ contractDetails.property_name }} ({{ contractDetails.property_name_jp }})
                  </div>
                  <div class="col-lg-4">
                    <strong>Room:</strong> {{ contractDetails.room_number }} | {{ contractDetails.property_name }} ({{ contractDetails.property_name_jp }})
                  </div>
                  <div class="col-lg-4">
                    <strong>Tenant:</strong> {{ contractDetails.company_name }} | {{ contractDetails.company_name_jp }}
                  </div>
                  <div class="col-lg-4 mt-3">
                      <strong>Contract Type:</strong> {{ contractDetails.contract_type }}
                  </div>
                  <div class="col-lg-4 mt-3">
                    <strong>Unit Rent (m<sup>2</sup>):</strong> {{ contractDetails.unit_rent_sm | number }}
                  </div>
                  <div class="col-lg-4 mt-3">
                    <strong>Unit Rent (ツボ):</strong> {{ contractDetails.unit_rent_tsubo | number }}
                  </div>
                  <div class="col-lg-4 mt-3">
                      <strong>Monthly Rent:</strong> {{ contractDetails.monthly_rent | number }}
                  </div>
                  <div class="col-lg-4 mt-3">
                    <strong>Date Of Rent Occurrence:</strong> {{ contractDetails.date_of_rent_occurrence | date : 'longDate' }}
                  </div>
                  <div class="col-lg-4 mt-3">
                    <strong>Initial Month Rent:</strong> {{ contractDetails.initial_month_rent | number }}
                  </div>
                  <div class="col-lg-4 mt-3">
                      <strong>Final Month Rent:</strong> {{ contractDetails.final_month_rent | number }}
                  </div>
                  <div class="col-lg-4 mt-3">
                    <strong>Unit Common Fees (m<sup>2</sup>):</strong> {{ contractDetails.unit_common_fees_sm | number }}
                  </div>
                  <div class="col-lg-4 mt-3">
                    <strong>Unit Common Fees (ツボ):</strong> {{ contractDetails.unit_common_fees_tsubo | number }}
                  </div>
                  <div class="col-lg-4 mt-3">
                      <strong>Monthly Common Fees:</strong> {{ contractDetails.monthly_common_fees | number }}
                  </div>
                  <div class="col-lg-4 mt-3">
                    <strong>Date of Common Fee Occurrence:</strong> {{ contractDetails.date_of_common_fee_occurrence | date : 'longDate' }}
                  </div>
                  <div class="col-lg-4 mt-3">
                    <strong>Initial Month Common Fee:</strong> {{ contractDetails.initial_month_common_fee | number }}
                  </div>
                  <div class="col-lg-4 mt-3">
                      <strong>Final Month Common Fee:</strong> {{ contractDetails.final_month_common_fee | number }}
                  </div>
                  <div class="col-lg-4 mt-3">
                    <strong>Unit of Total Rent (m<sup>2</sup>):</strong> {{ contractDetails.unit_of_total_rent_sm | number }}
                  </div>
                  <div class="col-lg-4 mt-3">
                    <strong>Unit Of Total Rent (ツボ):</strong> {{ contractDetails.unit_of_total_rent_tsubo | number }}
                  </div>
                  <div class="col-lg-4 mt-3">
                      <strong>Rotal Rent:</strong> {{ contractDetails.total_rent | number }}
                  </div>
                  <div class="col-lg-4 mt-3">
                    <strong>Total Initial Month Rent:</strong> {{ contractDetails.total_initial_month_rent | number }}
                  </div>
                  <div class="col-lg-4 mt-3">
                    <strong>Total Final Month Rent:</strong> {{ contractDetails.total_final_month_rent | number }}
                  </div>
                  <div class="col-lg-4 mt-3">
                      <strong>Number of Deposit Months:</strong> {{ contractDetails.number_of_deposit_months | number }}
                  </div>
                  <div class="col-lg-4 mt-3">
                    <strong>Deposit:</strong> {{ contractDetails.deposit | number }}
                  </div>
                  <div class="col-lg-4 mt-3">
                    <strong>Date of Contract Start:</strong> {{ contractDetails.date_of_contract_start | date : 'longDate' }}
                  </div>
                  <div class="col-lg-4 mt-3">
                      <strong>Date Of Contract End:</strong> {{ contractDetails.date_of_contract_end | date : 'longDate' }}
                  </div>
                  <div class="col-lg-4 mt-3">
                    <strong>Automatic Extention: </strong> 
                    <span *ngIf="contractDetails.automatic_extention" class="text-success"> <strong> Yes</strong></span>
                    <span *ngIf="!contractDetails.automatic_extention" class="text-danger"> <strong> No</strong></span>
                  </div>
                  <div class="col-lg-4 mt-3">
                    <strong>Month Of Automatic Extention:</strong> {{ contractDetails.month_of_automatic_extention }}
                  </div>
                  <div class="col-lg-4 mt-3">
                      <strong>Period of Cancel Notice:</strong> {{ contractDetails.period_of_cancel_notice }}
                  </div>
                  <div class="col-lg-4 mt-3">
                    <strong>Date of Received Application:</strong> {{ contractDetails.date_of_received_application_form_for_moving_in | date : 'longDate' }}
                  </div>
                  <div class="col-lg-4 mt-3">
                    <strong>Date of Contract Signed:</strong> {{ contractDetails.date_of_contract_signed | date : 'longDate' }}
                  </div>
                  <div class="col-lg-4 mt-3">
                      <strong>Document Delivery Date:</strong> {{ contractDetails.document_delivery_date | date : 'longDate' }}
                  </div>
                  <div class="col-lg-4 mt-3">
                    <strong>Date Of Noticing Contract Termination:</strong> {{ contractDetails.date_of_noticing_contract_termination | date : 'longDate' }}
                  </div>
                  <div class="col-lg-4 mt-3">
                    <strong>Cancellation Date:</strong> {{ contractDetails.cancellation_date | date : 'longDate' }}
                  </div>

                  <div class="col-lg-4 mt-3">
                      <strong>Remarks On Furniture & Equipment:</strong> {{ contractDetails.remarks_on_furniture_and_equipment }}
                  </div>
                  <div class="col-lg-4 mt-3">
                    <strong>Other Remarks:</strong> {{ contractDetails.other_remarks }}
                  </div>
                  <div class="col-lg-4 mt-3">
                    <strong>Is Active?: </strong> 
                    <span *ngIf="contractDetails.is_active" class="text-success"> <strong> Yes</strong></span>
                    <span *ngIf="!contractDetails.is_active" class="text-danger"> <strong> No</strong></span>
                  </div>

                </div>
            </app-card>
        </div>
        <div class="modal-footer">
            <div class="pr-4">
                <button class="btn btn-danger btn-outline-danger mr-2" (click)="modalHide()"> <i
                        class="icofont icofont-close"></i>Close</button>
            </div>

        </div>
    </ng-template>
<!--
    <ng-template #passwordTemplate>
        <div class="modal-header ">
            <h5 class="modal-title pull-left " [innerHtml]="modalTitle" id="modalTitle"></h5>
            <button type="button " class="close pull-right " aria-label="Close " (click)="modalHide()">
                <i class="icofont icofont-close"></i>
            </button>
        </div>
        <div class="modal-body ">
            <app-card>
                <form [formGroup]="passwordForm" class="col-sm-12" autocomplete="off">
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <label class="font-weight-bold required">Password</label>
                            <input type="password" formControlName="password" class="form-control"
                                [ngClass]="{ 'is-invalid': password_submitted && pcf.password.errors }" autocomplete="off" required>
                            <div *ngIf="password_submitted && pcf.password.errors" class="error-text">
                                <span *ngIf="pcf.password.errors.required" class="text-danger">Password is required</span>
                                <span *ngIf="pcf.password.errors.minlength" class="text-danger">Password must be 8 characters minimum</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <label class="font-weight-bold required">Confirm Password</label>
                            <input type="password" formControlName="ConfirmPassword" [ngClass]="{ 'is-invalid': password_submitted && pcf.ConfirmPassword.errors }"
                                class="form-control" autocomplete="off">
                            <div *ngIf="password_submitted && pcf.ConfirmPassword.errors " class="error-text ">
                                <span *ngIf="pcf.ConfirmPassword.errors.required " class="text-danger ">Confirm Password is required</span>
                                <span *ngIf="pcf.ConfirmPassword.errors.mustMatch" class="text-danger">Passwords does not match</span>
                                <span *ngIf="pcf.ConfirmPassword.errors.minlength" class="text-danger">Password must be 8 characters minimum</span>
                            </div>
                        </div>
                    </div>
                </form>
            </app-card>
        </div>
        <div class="modal-footer">
            <div class="pr-4">
                <button class="btn btn-danger btn-outline-danger mr-2" (click)="modalHide()"> <i
                        class="icofont icofont-close"></i>Close</button>
                <button class="btn btn-success btn-outline-success" (click)="onUpdatePasswordFormSubmit()">
                    <i class="icofont icofont-check-circled"></i> {{saveButtonText}}
                </button>
            </div>
        </div>
    </ng-template>-->

</block-ui>