<block-ui>
  <div class="row">

    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-12">
          <div class="card card-border-primary">
            <div class="card-header">
              <h5>Institute Member List </h5>


              <button class="btn btn-primary float-right" (click)="openModal(template)"><i
                  class=" icofont icofont-plus "></i> Create Institute Member</button>
              <!-- <span class="code-header ">use class <code>table</code> inside table element</span> -->
            </div>
            <div class="card-block ">
              <div class="row ">
                <div class="col-lg-4 mb-3">
                  <ng-select [clearable]="false" [clearOnBackspace]="false" (change)="onInstituteChange($event)"
                    [items]="instituteList" [multiple]=false bindLabel="name" bindValue="id"
                    placeholder="Select institute">

                  </ng-select>
                </div>
              </div>
              <div class="row ">
                <div class="col-lg-12 ">
                  <!-- <ngx-datatable class="material " [rows]="rows" [loadingIndicator]="loadingIndicator"
                    [columnMode]="ColumnMode.force" [headerHeight]="40" [footerHeight]="50" rowHeight="auto"
                    [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size"
                    (page)="setPage($event)"> -->
                  <ngx-datatable class="material " [rows]="rows" [loadingIndicator]="loadingIndicator"
                    [columnMode]="ColumnMode.force" [headerHeight]="40" [footerHeight]="50" rowHeight="auto"
                    [externalPaging]="false" [limit]="10">

                    <ngx-datatable-column [width]="50" name="#Sl" prop="id" [draggable]="false" [sortable]="false">
                      <ng-template let-rowIndex="rowIndex" ngx-datatable-cell-template>
                        <span> {{ rowIndex + 1}} </span>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column [width]="200" name="Institute Name" prop="institute.name" [draggable]="false"
                      [sortable]="false">
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        <span title="{{ value }}"> {{ value }} </span>
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [width]="200" name="Member Name" prop="name" [draggable]="false" [sortable]="false">
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        <span title="{{ value }}"> {{ value }} </span>
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [width]="150" name="Mobie" prop="mobile_no" [draggable]="false" [sortable]="false">
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        <span title="{{ value }}"> {{ value }} </span>
                      </ng-template>
                    </ngx-datatable-column>


                    <ngx-datatable-column [width]="40" name="Action" prop="id" [draggable]="false" [sortable]="false">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                        <button class="btn btn-info btn-mini" (click)="getItem(row,template)"><i
                            class="icofont icofont-edit"></i>Edit</button>
                      </ng-template>
                    </ngx-datatable-column>
                  </ngx-datatable>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <ng-template #template>
    <div class="modal-header ">
      <h4 class="modal-title pull-left " [innerHtml]="modalTitle" id="modalTitle"></h4>
      <button type="button " class="close pull-right " aria-label="Close " (click)="modalHide()">
        <i class="icofont icofont-close"></i>
      </button>
    </div>
    <div class="modal-body ">

      <form [formGroup]="entryForm">


        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header">
                <!-- <h5>Institute Information</h5> -->
              </div>
              <div class="card-block">

                <div class="form-group row">
                  <label class="col-sm-4 col-form-label required">Institute </label>
                  <div class="col-sm-8">
                    <ng-select formControlName="bscs_institute_id" [clearable]="false" [clearOnBackspace]="false"
                      [items]="instituteList" [multiple]=false bindLabel="name" bindValue="id"
                      placeholder="Select institute">
                    </ng-select>

                    <div *ngIf="submitted && f.bscs_institute_id.errors" class="error-text">
                      <span *ngIf="f.bscs_institute_id.errors.required" class="text-danger"> Institute is
                        required</span>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label required">Member Name </label>
                  <div class="col-sm-8">
                    <input type="text" formControlName="name" placeholder="Enter member name"
                      [ngClass]="{ 'is-invalid': submitted && f.name.errors }" type="text" class="form-control" />

                    <div *ngIf="submitted && f.name.errors" class="error-text">
                      <span *ngIf="f.name.errors.required" class="text-danger"> Member name is
                        required</span>
                      <span *ngIf="f.name.errors.maxlength" class="text-danger">Member name must
                        be not then
                        250 characters</span>
                    </div>
                  </div>
                </div>


                <div class="form-group row">
                  <label class="col-sm-4 col-form-label required">Email </label>
                  <div class="col-sm-8">
                    <input type="email" formControlName="email" placeholder="Enter member email"
                      [ngClass]="{ 'is-invalid': submitted && f.email.errors }" type="text" class="form-control" />

                   
                      <div *ngIf="submitted && f.email.errors" class="error-text">
                        <span *ngIf="f.email.errors.email" class="text-danger"> Not a valid email format</span>
                        <span *ngIf="f.email.errors.required" class="text-danger"> Institute member email is
                          required</span>                        
                      </div>
                  </div>
                </div>               
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label required">Mobile No</label>
                  <div class="col-sm-8">
                    <input type="text" formControlName="mobile_no" placeholder="Enter member phone no"
                      [ngClass]="{ 'is-invalid': submitted && f.mobile_no.errors }" type="text" class="form-control" />

                      <div *ngIf="submitted && f.mobile_no.errors" class="error-text">
                        <span *ngIf="f.mobile_no.errors.required" class="text-danger"> Institute member mobile no is
                          required</span>                     
                      </div>
                   
                  </div>
                </div>               
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label required">Password </label>
                  <div class="col-sm-8">
                    <textarea rows="2" type="text" formControlName="password" placeholder="Enter member password"
                      [ngClass]="{ 'is-invalid': submitted && f.password.errors }" type="text" class="form-control" > </textarea>

                   
                      <div *ngIf="submitted && f.password.errors" class="error-text">
                        <span *ngIf="f.password.errors.required" class="text-danger"> Institute member password is
                          required</span>                       
                      </div>
                  </div>
                </div>  


              </div>
            </div>
          </div>




        </div>



      </form>

    </div>
    <div class="modal-footer">
      <div class="pr-4">

        <button class="btn btn-danger btn-outline-danger mr-2" (click)="modalHide()"> <i
            class="icofont icofont-close"></i> Close</button>

        <button class="btn btn-success btn-outline-success" (click)="onFormSubmit()"><i
            class="icofont icofont-check-circled"></i> {{btnSaveText}}</button>

      </div>

    </div>
  </ng-template>
</block-ui>