.card-title{
    display: inline-block;
}

.title-btn{
    color: #fff !important;
    padding: 3px 10px !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    text-transform: capitalize !important;
}

.title-btn a{
    color: #fff !important;
}

.student-profile-icon{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.btn-status {
    padding: 5px 5px !important;
}

.card.user-card {
    box-shadow: 0 7px 25px -5px #ccc, 0 1px 5px 0 rgb(0 0 0 / 10%), 0 0 0 0 transparent;
}

.checkbox-style{
    display: inline-block !important;
    width: 30px !important;
}

.img-circle {
    border: 3px solid #ccd5d6;
}

.name-a{
    font-size: 16px !important;
}

.ref-code{
    color: #a09f9f;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
}

.label {
    border-radius: 0px !important;
    padding: 8px !important;
    font-size: 78% !important;
    font-weight: 400 !important;
    color: #fff !important;
}

.progress-margin{
    margin: 8px 0px;
}

.list-margin{
    margin-top: 15px;
}

.progress-bar {
    font-size: 12px !important;
}

.card-min-height{
    min-height: 230px;
}

.bio-text{
    font-size: 11px;
}

.image-size{
    width: 150px;
    height: 150px;
}
