<block-ui>
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card card-border-primary">
                        <div class="card-block ">
                            <div class="row" *ngIf="is_loaded">
                                <div class="col-lg-12">
                                    <ul class="list-view">
                                        <li>
                                            <div class="card user-card">
                                                <div class="card-block">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="media">
                                                                <a class="media-left" href="#">
                                                                    <img *ngIf="!correctionDetails.student_profile_pic" class="media-object img-circle card-list-img" src="assets/images/avatar-5.png" alt="Generic placeholder image">
                                                                    <img *ngIf="correctionDetails.student_profile_pic" class="media-object img-circle card-list-img" src="{{ correctionDetails.student_profile_pic }}" alt="Generic placeholder image">
                                                                </a>
                                                                <div class="media-body">
                                                                    <br/>
                                                                    <div class="col-xs-12">
                                                                        <h6 class="d-inline-block">{{ correctionDetails.student_name }} (Student)</h6>
                                                                    </div>
                                                                    <div class="f-13 text-muted"><i class="icofont-phone"></i> <strong>{{ correctionDetails.student_mobile_no }}</strong> </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="f-13 text-muted inline float-right" *ngIf="correctionDetails.status_id === 0"> <button type="button" class="btn btn-primary btn-sm inline">Assigned</button> </div>
                                                            <div class="f-13 text-muted inline float-right" *ngIf="correctionDetails.status_id === 1"> <button type="button" class="btn btn-info btn-sm inline">Answered</button> </div>
                                                            <div class="f-13 text-muted inline float-right" *ngIf="correctionDetails.status_id === 2"> <button type="button" class="btn btn-info btn-sm inline">Correction Requested</button> </div>
                                                            <div class="f-13 text-muted inline float-right" *ngIf="correctionDetails.status_id === 3"> <button type="button" class="btn btn-info btn-sm inline">Corrected</button> </div>
                                                            <div class="f-13 text-muted inline float-right" *ngIf="correctionDetails.status_id === 4"> <button type="button" class="btn btn-success btn-sm inline">Completed</button> </div><br/><br/>

                                                            <div class="f-13 text-muted tutor-name"><strong>TUTOR:</strong> {{ correctionDetails.tutor_name }} </div>

                                                            <div class="f-13 text-muted"><strong>Created At:</strong> {{ correctionDetails.created_at | date:'MMM d, y'  }} </div> 
                                                            <div class="f-13 text-muted"><strong>Course:</strong> {{ correctionDetails.course_name }} </div>
                                                            <div class="f-13 text-muted"><strong>Total Mark:</strong> {{ correctionDetails.total_mark }} </div>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <div class="f-13 text-muted"><strong>Title:</strong> {{ correctionDetails.title }} </div>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <div class="f-13 text-muted"><strong>Description:</strong> {{ correctionDetails.description }} </div>
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-12" *ngFor="let item of correctionDetails.details; let i=index">
                                    <ul class="list-view">
                                        <li>
                                            <div class="card user-card">
                                                <div class="card-block">
                                                    <div class="media">
                                                        <div class="media-body">
                                                            <div class="f-13 text-muted inline tutor-name">
                                                                <h6>{{item.created_by }}'s 
                                                                <span *ngIf="item.status_id === 0">
                                                                    Assigned
                                                                </span> 
                                                                <span  *ngIf="item.status_id === 1 && item.created_by == 'Student'">
                                                                    Answer
                                                                </span>
                                                                <span *ngIf="item.status_id === 2">
                                                                    Feedback
                                                                </span>
                                                                <span *ngIf="item.status_id > 1 && item.created_by == 'Student'">
                                                                    Re-Write
                                                                </span>
                                                                <span *ngIf="item.status_id === 4">
                                                                    Correction
                                                                </span> </h6>
                                                            </div>
                                                            <div class="f-13 text-muted float-right answer-date"> {{ item.submission_date | date : 'MMM d, y, h:mm:ss a' }} </div><br/>
                                                            <div class="f-13 text-muted float-right answer-mark" *ngIf="item.status_id === 4"> Given Mark : {{ item.given_mark }} / {{ correctionDetails.total_mark }}  </div>
                                                            <br/>
                                                            <div class="f-13 text-muted" *ngIf="item.answer">{{ item.answer }}</div>
                                                            <div class="f-13 text-muted" *ngIf="item.correction_note" [innerHTML]="item.correction_note"></div>
                                                            <br *ngIf="item.answer"/>
                                                            <div class="f-13 text-muted tutor-name" *ngIf="item.total_words"> TOTAL WORDS: {{ item.total_words }}</div>
                                                            <br/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <ul class="list-view"  *ngIf="item.tutor_feedback">
                                        <li>
                                            <div class="card user-card">
                                                <div class="card-block">
                                                    <div class="media">
                                                        <div class="media-body">
                                                            <div class="f-13 text-muted inline tutor-name">
                                                                <h6>{{item.created_by }}'s Feedback</h6>
                                                            </div>
                                                            <br/>
                                                            <div class="f-13 text-muted" *ngIf="item.tutor_feedback">{{ item.tutor_feedback }}</div>
                                                            <br/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block-ui>

<ng-template #template>
    <div class="modal-header ">
        <h4 class="modal-title pull-left " [innerHtml]="modalTitle" id="modalTitle"></h4>
        <button type="button " class="close pull-right " aria-label="Close " (click)="modalHide()">
            <i class="icofont icofont-close"></i>
        </button>
    </div>
    <div class="modal-body ">
        <app-card>
            <form [formGroup]="entryForm" class="col-sm-12" autocomplete="off">
                <div class="form-group">
                    <label class="col-form-label required">Teacher </label> 
                    <ng-select placeholder="Select Teacher" formControlName="teacher_id" [items]="instructorList"
                        [clearable]='true' [clearOnBackspace]='true' bindLabel="email" bindValue="id">
                        <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                          <div> {{item.first_name}} {{item.last_name}} - ({{item.email}})</div>
                        </ng-template>
                    </ng-select>

                    <div *ngIf="submitted && f.teacher_id.errors" class="error-text">
                        <span *ngIf="f.teacher_id.errors.required" class="text-danger"> Teacher is required</span>
                    </div>
                </div>
            </form>
        </app-card>
    </div>
    <div class="modal-footer">
        <div class="pr-4">
            <button class="btn btn-danger btn-outline-danger mr-2" (click)="modalHide()"> <i
                    class="icofont icofont-close"></i>Close</button>

            <button class="btn btn-success btn-outline-success" (click)="onSetInstructorSubmit()">
                <i class="icofont icofont-check-circled"></i> {{saveButtonText}}
            </button>

        </div>

    </div>
</ng-template>