@media (min-width: 992px) {
    .modal-lg {
        max-width: 1024px !important;
    }
}

/*.image-size{
    width: 40px;
    height: 40px;
}*/

.text-align-left{
    text-align: left;
}

.link{
    cursor: pointer;
}