<block-ui>
    <div class="row">

        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-border-primary">
                        <div class="card-header">
                            <h5>{{ projectName }}</h5> <button class="btn btn-secondary btn-mini float-right" (click)="backTo()">< Back </button>
                        </div>
                        <div class="card-block ">
                            <div class="row ">
                                <div class="col-lg-12" *ngIf="is_loaded">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th scope="col">Assesment Name</th>
                                                <th scope="col">Details</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let assesment of assesmentList; let i=index">
                                                <th class="align-middle"> <a [routerLink]="['/assesment-participants',assesment.id ]" >{{ assesment.test_name }}</a> </th>
                                                <td>
                                                    <table class="table table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th scope="col">Title</th>
                                                                <th scope="col">Total Marks</th>
                                                                <th scope="col">Total Questions</th>
                                                                <!--<th scope="col">Upload questions</th>-->
                                                                <th scope="col">Details</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let subject of assesment.subjects; let i=index">
                                                                <td>
                                                                    <a [routerLink]="['/assesment-subject-wise-participants',subject.id ]">{{ subject.exam_name }}</a>
                                                                </td>
                                                                <td>{{ subject.marks }}</td>
                                                                <td>{{ subject.total_question }}</td>
                                                                <!--<td><input type="file" /></td>-->
                                                                <td><a [routerLink]="['/assesment-question-details',subject.id ]"><button class="btn btn-info btn-mini">Show Question Details</button></a></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>


                                </div>

                            </div>
                        </div>
                        <div class="card-footer ">

                        </div>
                        <!-- end of card-footer -->
                    </div>
                </div>
            </div>
        </div>

    </div>

    <ng-template #template>
        <div class="modal-header ">
            <h4 class="modal-title pull-left " [innerHtml]="modalTitle" id="modalTitle"></h4>
            <button type="button " class="close pull-right " aria-label="Close " (click)="modalHide()">
                <i class="icofont icofont-close"></i>
            </button>
        </div>
        <div class="modal-body ">
            <app-card>
                <form [formGroup]="entryForm" class="col-sm-12" autocomplete="off">

                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label font-weight-bold"> Email </label>
                        <div class="col-sm-8">
                            <label *ngIf="f.id.value" class="font-weight-bold required"> {{f.Email.value}} </label>
                            <input *ngIf="!f.id.value" formControlName="Email" [ngClass]="{ 'is-invalid': submitted && f.Email.errors }"
                                type="email" class="form-control" autocomplete="off">
                            <div *ngIf="submitted && f.Email.errors" class="error-text">
                                <span *ngIf="f.Email.errors.required" class="text-danger">Email is required</span>
                                <span *ngIf="f.Email.errors.maxlength" class="text-danger">Email must be not then 50
                                    characters</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label font-weight-bold required"> First Name </label>
                        <div class="col-sm-8">
                            <input formControlName="FirstName"
                                [ngClass]="{ 'is-invalid': submitted && f.FirstName.errors }" type="text"
                                class="form-control" autocomplete="off">
                            <div *ngIf="submitted && f.FirstName.errors" class="error-text">
                                <span *ngIf="f.FirstName.errors.required" class="text-danger">First Name is
                                    required</span>
                                <span *ngIf="f.FirstName.errors.maxlength" class="text-danger">First Name must be not
                                    then 50
                                    characters</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label font-weight-bold required"> Last Name </label>
                        <div class="col-sm-8">
                            <input formControlName="LastName"
                                [ngClass]="{ 'is-invalid': submitted && f.LastName.errors }" type="text"
                                class="form-control" autocomplete="off">
                            <div *ngIf="submitted && f.LastName.errors" class="error-text">
                                <span *ngIf="f.LastName.errors.required" class="text-danger">Last Name is
                                    required</span>
                                <span *ngIf="f.LastName.errors.maxlength" class="text-danger">Last Name must be not then
                                    50
                                    characters</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label font-weight-bold required"> Password </label>
                        <div class="col-sm-8">
                            <label *ngIf="f.id.value" class="font-weight-bold"> {{f.Password.value}} </label>
                            <input *ngIf="!f.id.value" type="password" formControlName="Password" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.Password.errors }" autocomplete="off" required>
                            <div *ngIf="submitted && f.Password.errors" class="error-text">
                                <span *ngIf="f.Password.errors.required" class="text-danger">Password is required</span>
                                <span *ngIf="f.Password.errors.minlength" class="text-danger">Password must be 6
                                    characters minimum</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label font-weight-bold required">Confirm Pass. </label>
                        <div class="col-sm-8">
                            <label *ngIf="f.id.value" class="font-weight-bold"> {{f.ConfirmPassword.value}} </label>
                            <input *ngIf="!f.id.value" type="password" formControlName="ConfirmPassword"
                                [ngClass]="{ 'is-invalid': submitted && f.ConfirmPassword.errors }"
                                class="form-control" autocomplete="off">

                            <div *ngIf="submitted && f.ConfirmPassword.errors " class="error-text ">
                                <span *ngIf="f.ConfirmPassword.errors.required " class="text-danger ">Confirm Password
                                    is required</span>
                                <span *ngIf="f.ConfirmPassword.errors.mustMatch" class="text-danger">Passwords not
                                    match</span>
                            </div>
                        </div>
                    </div>
                </form>
            </app-card>
        </div>
        <div class="modal-footer">
            <div class="pr-4">

                <button class="btn btn-danger btn-outline-danger mr-2" (click)="modalHide()"> <i
                        class="icofont icofont-close"></i>Close</button>

                <button class="btn btn-success btn-outline-success" (click)="onFormSubmit()">
                    <i class="icofont icofont-check-circled"></i> {{saveButtonText}}
                </button>

            </div>

        </div>
    </ng-template>

</block-ui>