.card .card-header h5{
    color: #757575;
    font-size: 18px;
}
.card .card-block .row p{
    font-size: 14px;
    line-height: 1.8;
    //font-family: "Times New Roman", Times, serif;
    text-align: justify;
}
.hearder-color{
    color: #4a6076;
}

.download-btn a{
    color: #fff !important;
    cursor: pointer;
}