<block-ui>
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-12">
          <div class="card card-border-primary">
            <div class="card-header">
              <h5>{{ 'CONTRACT_MASTER_LIST.TITLE' | translate }} </h5>
              <button class="btn btn-primary float-right" [routerLink]="['/add-contract-masters']"><i
                  class=" icofont icofont-plus"></i> {{ 'CONTRACT_MASTER_LIST.ADD_NEW_CONTRACT' | translate }}</button>
              <!--<ng-select [clearable]="false" class="col-lg-4 float-right" [clearOnBackspace]="false" (change)="onInstituteChange($event)"
                [items]="propertyDLList" [multiple]=false bindLabel="property_name" bindValue="id"
                placeholder="Select Property">
              </ng-select>-->
            </div>
            <div class="card-block ">
              <div class="row ">
                <div class="col-lg-4 mb-3">
                  <ng-select [clearable]="true" [clearOnBackspace]="false" [(ngModel)]="propertyId" (change)="getFilterList()"
                    [items]="propertyDLList" [multiple]=false bindLabel="property_name" bindValue="id"
                    placeholder="Select Property">
                    <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                        <div> {{item.property_name}} | {{item.location}} - ({{item.gross_floor_area_sm}} m<sup>2</sup>)</div>
                    </ng-template>
                  </ng-select>
                </div>
                <div class="col-lg-4 mb-3">
                  <ng-select [clearable]="true" [clearOnBackspace]="false" [(ngModel)]="tenantId" (change)="getFilterList()"
                    [items]="tenantDLList" [multiple]=false bindLabel="company_name" bindValue="id"
                    placeholder="Select Tenant">
                  </ng-select>
                </div>
              </div>
              <div class="row ">
                <div class="col-lg-12 ">
                  <ngx-datatable  #dataTable class="material " [rows]="rows" [loadingIndicator]="loadingIndicator"
                    [columnMode]="ColumnMode.force" [headerHeight]="40" [footerHeight]="50" rowHeight="auto"
                    [externalPaging]="false" [limit]="10">
                    
                    <ngx-datatable-column [width]="40" name="#Sl" prop="id" [draggable]="false" [sortable]="false">
                      <ng-template let-rowIndex="rowIndex" ngx-datatable-cell-template>
                        <span> {{ rowIndex + 1}} </span>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column [width]="250" name="Tenant" prop="company_name" [draggable]="false"
                      [sortable]="false">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                        <span title="{{ row.company_name }}"> 
                          <strong>{{ row.company_name }}</strong> ({{ row.company_name_jp }}) <br/>
                          {{ row.tenant_email }} <br/>
                          {{ row.tenant_address }}
                        </span>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column [width]="200" name="Room Number" prop="room_number" [draggable]="false" [sortable]="false">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                        <span title="{{ row.room_number }}"> <strong>{{ row.room_number }}</strong> <br> {{ row.property_name }} ({{ row.property_name_jp }}) </span>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column [width]="200" name="Contact Type" prop="contract_type" [draggable]="false" [sortable]="false">
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        <span title="{{ value }}"> {{ value }} </span>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column [width]="100" name="Contract Start" prop="date_of_contract_start" [draggable]="false" [sortable]="false">
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        <span title="{{ value }}"> {{ value | date : 'longDate' }} </span>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column [width]="150" name="Contract End" prop="date_of_contract_end" [draggable]="false" [sortable]="false">
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        <span title="{{ value }}"> {{ value | date : 'longDate' }} </span>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column [width]="120" name="Action" prop="id" [draggable]="false" [sortable]="false">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                        <button class="btn btn-success btn-mini mr-2" (click)="getItemDetails(row, template)"><i
                            class="icofont icofont-eye"></i>Details</button>
                        <button class="btn btn-info btn-mini" [routerLink]="['/update-contract-masters', row.id ]"><i
                            class="icofont icofont-edit"></i>Edit</button>
                      </ng-template>
                    </ngx-datatable-column>

                  </ngx-datatable>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #template>
    <div class="modal-header ">
      <h4 class="modal-title pull-left " [innerHtml]="modalTitle" id="modalTitle"></h4>
      <button type="button " class="close pull-right " aria-label="Close " (click)="modalHide()">
        <i class="icofont icofont-close"></i>
      </button>
    </div>
    <div class="modal-body ">
      <form [formGroup]="entryForm">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header">
                <!-- <h5>Card Title</h5> -->
              </div>
              <div class="card-block" *ngIf="is_loaded">

                <div class="row ">
                  <div class="col-lg-4">
                    <strong>Property:</strong> {{ contractDetails.property_name }} ({{ contractDetails.property_name_jp }})
                  </div>
                  <div class="col-lg-4">
                    <strong>Room:</strong> {{ contractDetails.room_number }} | {{ contractDetails.property_name }} ({{ contractDetails.property_name_jp }})
                  </div>
                  <div class="col-lg-4">
                    <strong>Tenant:</strong> {{ contractDetails.company_name }} | {{ contractDetails.company_name_jp }}
                  </div>
                  <div class="col-lg-4 mt-3">
                      <strong>Contract Type:</strong> {{ contractDetails.contract_type }}
                  </div>
                  <div class="col-lg-4 mt-3">
                    <strong>Unit Rent (m<sup>2</sup>):</strong> {{ contractDetails.unit_rent_sm | number }}
                  </div>
                  <div class="col-lg-4 mt-3">
                    <strong>Unit Rent (ツボ):</strong> {{ contractDetails.unit_rent_tsubo | number }}
                  </div>
                  <div class="col-lg-4 mt-3">
                      <strong>Monthly Rent:</strong> {{ contractDetails.monthly_rent | number }}
                  </div>
                  <div class="col-lg-4 mt-3">
                    <strong>Date Of Rent Occurrence:</strong> {{ contractDetails.date_of_rent_occurrence | date : 'longDate' }}
                  </div>
                  <div class="col-lg-4 mt-3">
                    <strong>Initial Month Rent:</strong> {{ contractDetails.initial_month_rent | number }}
                  </div>
                  <div class="col-lg-4 mt-3">
                      <strong>Final Month Rent:</strong> {{ contractDetails.final_month_rent | number }}
                  </div>
                  <div class="col-lg-4 mt-3">
                    <strong>Unit Common Fees (m<sup>2</sup>):</strong> {{ contractDetails.unit_common_fees_sm | number }}
                  </div>
                  <div class="col-lg-4 mt-3">
                    <strong>Unit Common Fees (ツボ):</strong> {{ contractDetails.unit_common_fees_tsubo | number }}
                  </div>
                  <div class="col-lg-4 mt-3">
                      <strong>Monthly Common Fees:</strong> {{ contractDetails.monthly_common_fees | number }}
                  </div>
                  <div class="col-lg-4 mt-3">
                    <strong>Date of Common Fee Occurrence:</strong> {{ contractDetails.date_of_common_fee_occurrence | date : 'longDate' }}
                  </div>
                  <div class="col-lg-4 mt-3">
                    <strong>Initial Month Common Fee:</strong> {{ contractDetails.initial_month_common_fee | number }}
                  </div>
                  <div class="col-lg-4 mt-3">
                      <strong>Final Month Common Fee:</strong> {{ contractDetails.final_month_common_fee | number }}
                  </div>
                  <div class="col-lg-4 mt-3">
                    <strong>Unit of Total Rent (m<sup>2</sup>):</strong> {{ contractDetails.unit_of_total_rent_sm | number }}
                  </div>
                  <div class="col-lg-4 mt-3">
                    <strong>Unit Of Total Rent (ツボ):</strong> {{ contractDetails.unit_of_total_rent_tsubo | number }}
                  </div>
                  <div class="col-lg-4 mt-3">
                      <strong>Rotal Rent:</strong> {{ contractDetails.total_rent | number }}
                  </div>
                  <div class="col-lg-4 mt-3">
                    <strong>Total Initial Month Rent:</strong> {{ contractDetails.total_initial_month_rent | number }}
                  </div>
                  <div class="col-lg-4 mt-3">
                    <strong>Total Final Month Rent:</strong> {{ contractDetails.total_final_month_rent | number }}
                  </div>
                  <div class="col-lg-4 mt-3">
                      <strong>Number of Deposit Months:</strong> {{ contractDetails.number_of_deposit_months | number }}
                  </div>
                  <div class="col-lg-4 mt-3">
                    <strong>Deposit:</strong> {{ contractDetails.deposit | number }}
                  </div>
                  <div class="col-lg-4 mt-3">
                    <strong>Date of Contract Start:</strong> {{ contractDetails.date_of_contract_start | date : 'longDate' }}
                  </div>
                  <div class="col-lg-4 mt-3">
                      <strong>Date Of Contract End:</strong> {{ contractDetails.date_of_contract_end | date : 'longDate' }}
                  </div>
                  <div class="col-lg-4 mt-3">
                    <strong>Automatic Extention: </strong> 
                    <span *ngIf="contractDetails.automatic_extention" class="text-success"> <strong> Yes</strong></span>
                    <span *ngIf="!contractDetails.automatic_extention" class="text-danger"> <strong> No</strong></span>
                  </div>
                  <div class="col-lg-4 mt-3">
                    <strong>Month Of Automatic Extention:</strong> {{ contractDetails.month_of_automatic_extention }}
                  </div>
                  <div class="col-lg-4 mt-3">
                      <strong>Period of Cancel Notice:</strong> {{ contractDetails.period_of_cancel_notice }}
                  </div>
                  <div class="col-lg-4 mt-3">
                    <strong>Date of Received Application:</strong> {{ contractDetails.date_of_received_application_form_for_moving_in | date : 'longDate' }}
                  </div>
                  <div class="col-lg-4 mt-3">
                    <strong>Date of Contract Signed:</strong> {{ contractDetails.date_of_contract_signed | date : 'longDate' }}
                  </div>
                  <div class="col-lg-4 mt-3">
                      <strong>Document Delivery Date:</strong> {{ contractDetails.document_delivery_date | date : 'longDate' }}
                  </div>
                  <div class="col-lg-4 mt-3">
                    <strong>Date Of Noticing Contract Termination:</strong> {{ contractDetails.date_of_noticing_contract_termination | date : 'longDate' }}
                  </div>
                  <div class="col-lg-4 mt-3">
                    <strong>Cancellation Date:</strong> {{ contractDetails.cancellation_date | date : 'longDate' }}
                  </div>

                  <div class="col-lg-4 mt-3">
                      <strong>Remarks On Furniture & Equipment:</strong> {{ contractDetails.remarks_on_furniture_and_equipment }}
                  </div>
                  <div class="col-lg-4 mt-3">
                    <strong>Other Remarks:</strong> {{ contractDetails.other_remarks }}
                  </div>
                  <div class="col-lg-4 mt-3">
                    <strong>Is Active?: </strong> 
                    <span *ngIf="contractDetails.is_active" class="text-success"> <strong> Yes</strong></span>
                    <span *ngIf="!contractDetails.is_active" class="text-danger"> <strong> No</strong></span>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <div class="pr-4">
        <button class="btn btn-danger btn-outline-danger mr-2" (click)="modalHide()"> <i
            class="icofont icofont-close"></i> Close</button>
        <button class="btn btn-success btn-outline-success" (click)="onFormSubmit()"><i
            class="icofont icofont-check-circled"></i> {{btnSaveText}}</button>
      </div>
    </div>
  </ng-template>
</block-ui>