<block-ui>
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-12">
          <div class="card card-border-primary">
            <div class="card-header">
              <h5>Room List </h5>
              <button class="btn btn-primary float-right" (click)="openModal(template)"><i
                  class=" icofont icofont-plus "></i> Add New Room</button>
            </div>
            <div class="card-block ">
              <div class="row ">
                <!-- <div class="col-lg-4 mb-3">
                  <ng-select [clearable]="false" [clearOnBackspace]="false" (change)="onInstituteChange($event)"
                    [items]="instituteList" [multiple]=false bindLabel="name" bindValue="id"
                    placeholder="Select institute">
                  </ng-select>
                </div> -->
              </div>
              <div class="row ">
                <div class="col-lg-12 ">
                  <ngx-datatable  #dataTable class="material " [rows]="rows" [loadingIndicator]="loadingIndicator"
                    [columnMode]="ColumnMode.force" [headerHeight]="40" [footerHeight]="50" rowHeight="auto"
                    [externalPaging]="false" [limit]="10">
                    
                    <ngx-datatable-column [width]="40" name="#Sl" prop="id" [draggable]="false" [sortable]="false">
                      <ng-template let-rowIndex="rowIndex" ngx-datatable-cell-template>
                        <span> {{ rowIndex + 1}} </span>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column [width]="250" name="Room Number" prop="room_number" [draggable]="false"
                      [sortable]="false">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                        <span title="{{ row.room_number }}"> {{ row.room_number_jp }} ({{ row.property_name }}) </span>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column [width]="200" name="Floor No" prop="floor_no" [draggable]="false" [sortable]="false">
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        <span title="{{ value }}"> {{ value }} </span>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column [width]="100" name="Room Area" prop="room_area_sm" [draggable]="false" [sortable]="false">
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        <span title="{{ value | number }}"> {{ value | number }} </span>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column [width]="150" name="Room Area (ツボ)" prop="room_area_tsubo" [draggable]="false" [sortable]="false">
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        <span title="{{ value }}"> {{ value | number }} </span>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column [width]="120" name="Action" prop="id" [draggable]="false" [sortable]="false">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                        <!--<button class="btn btn-info btn-mini mr-2" [routerLink]="['/beat-model-exam-list', row.id ]"><i
                            class="icofont icofont-eye"></i>Manage Model Exams</button>-->
                        <button class="btn btn-info btn-mini" (click)="getItem(row, template)"><i
                            class="icofont icofont-edit"></i>Edit</button>
                      </ng-template>
                    </ngx-datatable-column>

                  </ngx-datatable>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #template>
    <div class="modal-header ">
      <h4 class="modal-title pull-left " [innerHtml]="modalTitle" id="modalTitle"></h4>
      <button type="button " class="close pull-right " aria-label="Close " (click)="modalHide()">
        <i class="icofont icofont-close"></i>
      </button>
    </div>
    <div class="modal-body ">
      <form [formGroup]="entryForm">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header">
                <!-- <h5>Institute Information</h5> -->
              </div>
              <div class="card-block">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label required">Property </label>
                  <div class="col-sm-9">
                    <ng-select [clearable]="false" formControlName="property_id" [clearOnBackspace]="false"
                      [items]="propertyDLList" [multiple]=false bindLabel="property_name" bindValue="id" 
                      [ngClass]="{ 'is-invalid': submitted && f.property_id.errors }" placeholder="Select Property">
                    </ng-select>
                    <div *ngIf="submitted && f.property_id.errors" class="error-text">
                      <span *ngIf="f.property_id.errors.required" class="text-danger"> Property is required</span>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label required">Room Number </label>
                  <div class="col-sm-9">
                    <input type="text" rows="2" formControlName="room_number" placeholder="Enter Room Number in Eng"
                      [ngClass]="{ 'is-invalid': submitted && f.room_number.errors }" type="text" class="form-control" />
                    <div *ngIf="submitted && f.room_number.errors" class="error-text">
                      <span *ngIf="f.room_number.errors.required" class="text-danger"> Room Number is required</span>
                      <span *ngIf="f.room_number.errors.maxlength" class="text-danger">Room Number must be not more then 550 characters</span>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label required">Room Number in JP </label>
                  <div class="col-sm-9">
                    <input type="text" rows="2" formControlName="room_number_jp" placeholder="Enter name in JP"
                      [ngClass]="{ 'is-invalid': submitted && f.room_number_jp.errors }" type="text" class="form-control" />
                    <div *ngIf="submitted && f.room_number_jp.errors" class="error-text">
                      <span *ngIf="f.room_number_jp.errors.required" class="text-danger"> Room Number is required</span>
                      <span *ngIf="f.room_number_jp.errors.maxlength" class="text-danger">Room Number must be not more then 550 characters</span>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label required">Floor No. </label>
                  <div class="col-sm-9">
                    <input formControlName="floor_no" placeholder="Floor No"
                      [ngClass]="{ 'is-invalid': submitted && f.floor_no.errors }" type="number" class="form-control" />
                    <div *ngIf="submitted && f.floor_no.errors" class="error-text">
                      <span *ngIf="f.floor_no.errors.required" class="text-danger"> Floor No is required</span>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label required">Room Area (m<sup>2</sup>) </label>
                  <div class="col-sm-9">
                    <input formControlName="room_area_sm" placeholder="Room Area"
                      [ngClass]="{ 'is-invalid': submitted && f.room_area_sm.errors }" type="number" class="form-control" />
                    <div *ngIf="submitted && f.room_area_sm.errors" class="error-text">
                      <span *ngIf="f.room_area_sm.errors.required" class="text-danger"> Room Area is required</span>
                      <span *ngIf="f.room_area_sm.errors.maxlength" class="text-danger">Room Area must be not more then 550 characters</span>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label required">Room Area  (ツボ) </label>
                  <div class="col-sm-9">
                    <input formControlName="room_area_tsubo" placeholder="Room Area (ツボ)"
                      [ngClass]="{ 'is-invalid': submitted && f.room_area_tsubo.errors }" type="number" class="form-control" />
                    <div *ngIf="submitted && f.room_area_tsubo.errors" class="error-text">
                      <span *ngIf="f.room_area_tsubo.errors.required" class="text-danger"> Room Area (ツボ) is required</span>
                      <span *ngIf="f.room_area_tsubo.errors.maxlength" class="text-danger">Room Area (ツボ) must be not more then 550 characters</span>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label required">Uses </label>
                  <div class="col-sm-9">
                    <ng-select [clearable]="false" [clearOnBackspace]="false" formControlName="uses" 
                      [ngClass]="{ 'is-invalid': submitted && f.uses.errors }"
                        [items]="room_type" [multiple]=false bindLabel="name" bindValue="id"
                        placeholder="Select Uses">
                    </ng-select>
                    <div *ngIf="submitted && f.uses.errors" class="error-text">
                      <span *ngIf="f.uses.errors.required" class="text-danger"> Uses is required</span>
                      <span *ngIf="f.uses.errors.maxlength" class="text-danger">Uses must be not more then 550 characters</span>
                    </div>
                  </div>
                </div>
                
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row text-left">
                      <label class="col-sm-6 col-form-label">Is Active? </label>
                      <div class="col-sm-6 mt-2">
                        <div class="checkbox-fade fade-in-primary">
                          <label>
                            <input type="checkbox" formControlName="is_active">
                            <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <div class="pr-4">
        <button class="btn btn-danger btn-outline-danger mr-2" (click)="modalHide()"> <i
            class="icofont icofont-close"></i> Close</button>
        <button class="btn btn-success btn-outline-success" (click)="onFormSubmit()"><i
            class="icofont icofont-check-circled"></i> {{btnSaveText}}</button>
      </div>
    </div>
  </ng-template>
</block-ui>